name: Build libvips for macOS (with PDF)

on:
  push:
    paths:
      - ".github/workflows/build-libvips-macos.yml"
  pull_request:
    paths:
      - ".github/workflows/build-libvips-macos.yml"
  workflow_dispatch:

jobs:
  get:
    name: libvips 8.18.0 on ${{ matrix.os }}
    runs-on: macos-latest

    steps:
      - run: brew install libvips
      - run: tar czf libvips-macos.tar.gz /opt/homebrew/Cellar/libvips
