name: Build macOS app

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install frontend deps
        run: npm install

      - name: Build frontend
        run: npm run build

      - name: vips permissions
        run: chmod +x src-tauri/resources/bin/macos/bin/vips
        
      - name: Remove quarantine flag
        run: xattr -dr com.apple.quarantine src-tauri/resources/bin/macos/bin/vips

      - name: Build Tauri app
        run: npm run tauri build

      - name: Upload macOS bundle
        uses: actions/upload-artifact@v4
        with:
          name: macos-app
          path: src-tauri/target/**

